.mainContainer {
  display: flex;
  gap: 50px;
}

.sketchpad {
  height: auto;
  width: auto;
  border: 2px solid black;
  display: grid;
}

.mouseOver {
  background-color: black;
  height: 500px;
  width: 300px;
}

.tiles {
  width: 45rem;
  height: 45rem;
  display: grid;
}

.cell {
  border: 1px solid gray;
}
